@media (min-width: 992px) {
  .layout-dashboard .ant-layout-footer {
    margin: 0 0 20px 20px;
  }
  .layout-dashboard .ant-layout-sider.sider-primary {
    padding: 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .layout-dashboard .ant-layout {
    width: auto;
    flex-shrink: 1;
    margin-left: 250px;
  }
  .layout-dashboard .header-control .sidebar-toggler {
    display: none;
  }
}

@media (min-width: 768px) {
  .layout-dashboard .ant-layout-header {
    position: fixed;
    width: calc(100% - 250px);
    z-index: 99;
    background-color: #fafafa !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .layout-dashboard .header-control {
    margin-top: 0;
  }
  .layout-dashboard .header-control .header-search {
    margin: 0 7px;
  }
  .layout-dashboard .header-control .btn-sign-in span {
    display: inline;
  }
  .profile-nav-bg {
    margin-top: -87.8px;
  }
  .card-profile-head {
    margin: -53px 24px 24px;
  }
}

@media (min-width: 992px) {
  .card-billing-info.ant-card .ant-card-body {
    display: flex;
  }
  .layout-dashboard-rtl {
    overflow: auto;
  }
  .layout-dashboard-rtl .ant-layout-sider.sider-primary {
    margin: 20px 20px 0 0;
  }
  .layout-dashboard-rtl .ant-layout-sider.sider-primary {
    right: 0;
    left: auto;
  }
  .layout-dashboard-rtl .ant-layout-sider.sider-primary {
    right: 0;
    left: auto;
  }
  .layout-dashboard-rtl .ant-layout {
    margin-right: 270px;
    margin-left: 0;
  }
  .layout-dashboard-rtl .ant-layout-footer {
    margin: 0 20px 20px 0;
  }
}

@media (max-width: 768px) {
  .home-banner {
    display: flex;
    padding: 0 10px;
    flex-direction: column;
  }

  .home-banner .banner-left {
    width: 100%;
    padding-left: 0;
  }

  .home-banner .banner-left h1 {
    font-size: 24px;
    margin-top: 15px;
  }

  .home-banner .banner-right {
    width: 100%;
    text-align: end;
  }

  .home-banner .banner-right img {
    width: 100%;
    height: auto;
  }

  .home-card-main {
    display: flex;
    flex-direction: column;
  }

  .layout-dashboard.layout-dashboard-rtl .header-control {
    justify-content: flex-end;
  }
  .layout-dashboard .ant-layout-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    padding: 15px;
    background-color: #fafafa !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}
